SUPABASE_URL=https://ybtmrxtjuvdvptenatmd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlidG1yeHRqdXZkdnB0ZW5hdG1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyNDYxMDksImV4cCI6MjA4NTgyMjEwOX0.JfYLjTWCaI92UpX5rzk-VpG6Z0h-4AIwHswD41mcgPE
